<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include 'inc/_includes_css.html' %}
    <title>{% block title %}School site{% endblock %}</title>
</head>
<body>

{% include 'inc/_navbar.html' %}
{% block content %} {% endblock %}
{% if page_obj.has_other_pages %}
    {% include 'inc/_pagintation.html' %}
{% endif %}
{% include 'inc/_footer.html' %}

</body>
</html>

{% include 'inc/_includes_js.html' %}


