<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar">
    LOGO
    <div class="logo">Гійченська ЗС0</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a href="/">Головна</a></li>
            <li><a href="/">Розклад</a></li>
            <li class="services">
                <a href="/">Інформація</a>
                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="/">Dropdown 1 </a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 3</a></li>
                    <li><a href="/">Dropdown 4</a></li>
                </ul>
            </li>
            <li><a href="/">Контакти</a></li>
            <li><a href="/">Про Школу</a></li>
        </div>
    </ul>
</nav>
</body>
</html>