{% extends 'base.html' %}
{% block content %}
<div class="schedule">
    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr class="columns">
            <td class="cell"><br>
                <b>Day/Period</b></br>
            </td>
            <td class="cell">
                <b>I<br>9:00-9:45</b>
            </td>
            <td class="cell">
                <b>II<br>9:55-10:40</b>
            </td>
            <td class="cell">
                <b>III<br>11:00-11:45</b>
            </td>
            <td class="cell">
                <b>12:05-12:50</b>
            </td>
            <td class="cell">
                <b>IV<br>13:00-13:45</b>
            </td>
            <td class="cell">
                <b>V<br>13:55-14:05</b>
            </td>
            <td class="cell">
                <b>VI<br>14:15-15:00</b>
            </td>
            <td class="cell">
                <b>VII<br>15:00-15:45</b>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <b>Monday</b></td>
            <td class="cell">Eng</td>
            <td class="cell">Mat</td>
            <td class="cell">Che</td>
            <td rowspan="6" align="center" height="50">
                <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td class="cell">Eng</td>
            <td class="cell">Mat</td>
            <td class="cell">Che</td>
            <td class="cell">Phy</td>
        </tr>
        <tr>
            <td class="cell">
                <b>Tuesday</b>
            </td>
            <td class="cell">Eng</td>
            <td class="cell">Mat</td>
            <td class="cell">Che</td>
            <td class="cell">Eng</td>
            <td class="cell">Che</td>
            <td class="cell">Mat</td>
            <td class="cell">SPORTS</td>
        </tr>
        <tr>
            <td class="cell">
                <b>Wednesday</b>
            </td>
            <td class="cell">Mat</td>
            <td class="cell">phy</td>
            <td class="cell">Eng</td>
            <td class="cell">Che</td>
            <td class="cell">Eng</td>
            <td class="cell">Mat</td>
            <td class="cell">Che</td>
        </tr>
        <tr>
            <td class="cell">
                <b>Thursday</b>
            </td>
            <td class="cell">Phy</td>
            <td class="cell">Eng</td>
            <td class="cell">Che</td>
            <td class="cell">Eng</td>
            <td class="cell">Mat</td>
            <td class="cell">Che</td>
            <td class="cell">Mat</td>
        </tr>
        <tr>
            <td class="cell">
                <b>Friday</b>
            </td>
            <td class="cell">Eng</td>
            <td class="cell">Mat</td>
            <td class="cell">Che</td>
            <td class="cell">Mat</td>
            <td class="cell">Che</td>
            <td class="cell">Eng</td>
            <td class="cell">Phy</td>
        </tr>
    </table>
</div>
{% endblock %}
