<link rel='stylesheet' type='text/css' href='/static/css/style.css'>
<link rel='stylesheet' type='text/css' href='/static/css/_footer.css'>
<link rel='stylesheet' type='text/css' href='/static/css/style_for_forms.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.min.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.rtl.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap-grid.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap-grid.rtl.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap-reboot.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap-reboot.rtl.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap-utilities.css'>
<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap-utilities.rtl.css'>
<link rel='stylesheet' type='text/css' href='/static/css/search_form.css'>
<link rel='stylesheet' type='text/css' href='/static/css/for_schedule.css'>
<link rel='stylesheet' type='text/css' href='/static/css/style_for_sidebar.css'>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">