<nav class="navbar">
    LOGO
    <div class="logo">Гійченський ЗЗС0</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li><a href="/">Головна</a></li>
            <li><a href="/">Розклад</a></li>
            <li class="services">
                <a href="/">Інформація</a>
                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="/">Dropdown 1 </a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 3</a></li>
                    <li><a href="/">Dropdown 4</a></li>
                </ul>
            </li>
            <li><a href="http://127.0.0.1:8000/contacts/">Контакти</a></li>
            <li><a href="/">Про Школу</a></li>
        </div>
    </ul>
</nav>